@charset "utf-8";

@font-face {
    font-family: 'paperlogy';
    src: url(../font/Paperlogy/Paperlogy-5Medium.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

p, strong {
    font-family: 'Paperlogy';
}

h2, h3, h4, h5 {
    font-family: 'SUIT', sans-serif;
}

.clear::after {
    content: '';
    display: block;
    clear: both;
}

.container {
    width: 1800px;
    margin: 0 auto;
}

header {
    position: fixed;
    width: 50%;
    margin: 0 auto;
    padding: 1rem;
    top: 10px;
    left: 50%;
    z-index: 9;
    transform: translateX(-50%);
    border-radius: 50px;
}

header.on {
    background-color: rgba(0,0,0,0.7);
    backdrop-filter: blur(10px);
}

header .container {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav ul {
    display: flex;
}

header nav ul li {
    padding: 10px;
}

header button {
    background: transparent;
    border: none;
    cursor: pointer;
    color: #fff;
}

header h1 button {
    font-size: 2rem;
    font-weight: bold;
}

header nav button {
    font-size: 1.2rem;
}

main {
    width: 100%;
    height: 100vh;
    background: url(../images/main/main_bg.png) no-repeat center/cover;
    display: flex;
    text-align: center;
    align-items: center;
    color: #fff;
}

main h2 {
    font-size: 9rem;
    margin: 2rem 0;
    letter-spacing: 3px;
    text-align: left;
}

main h2 span::after {
    content: '';
    display: inline-block;
    width: 3px;
    height: 7rem;
    background-color: #fff;
    animation: blink 0.7s infinite;
}

@keyframes blink {
    0% { opacity: 0;}
    100% { opacity: 1;}
}

main .mouse {
    background-color: transparent;
    border: none;
    width: 30px;
    height: 30px;
    border-left: 5px solid #fff;
    border-bottom: 5px solid #fff;
    transform: translateX(-50%) rotate(-45deg);
    position: absolute;
    bottom: 1rem;
    left: 50%;
    animation: updown 1s infinite alternate;
}

@keyframes updown {
    0% {bottom: 1rem;}
    100% {bottom: 1.5rem;}
}

section {
    width: 100%;
    margin: 0 auto;
    padding: 3rem 0;
}

section .container {
    width: 90%;
    margin: 0 auto;
}

section .title {
    margin-bottom: 3rem;
}

section .title h4 {
    font-size: 1.5rem;
    color: skyblue;
}

section .title h2 {
    font-size: 3.5rem;
}

.about h3 {
    font-size: 2.2rem;
    margin-bottom: 1rem;
}

.about strong {
    color: skyblue;
}

.about p {
    margin: 1rem 0;
    font-size: 1.3rem;
    line-height: 1.7;
    color: #4f4f4f;
}

.about .about-self {
    width: 100%;
    height: 75vh;
    border: 2px solid skyblue;
    border-radius: 30px;
    padding: 3rem 0;
    display: grid;
    grid-template-areas: 
    'img txt txt'
    'img tool tool'
    'icon icon icon';
    align-items: center;
}

.about .left {
    width: 50%;
    grid-area: img;
    margin: 0 auto;
}

.about .left img {
    width: 100%;
    border-radius: 30px;
}

.about .txtBox {
    grid-area: txt;
}

.about .toolBox {
    grid-area: tool;
}

.about .toolBox .tools {
    display: flex;
    gap: 5rem;
    margin-bottom: 3rem;
}

.about .toolBox .tools .toolsName {
    margin-bottom: 1rem;
}

.about .toolBox .tools .toolsName strong {
    font-size: 1.3rem;
}

.about .toolBox .tools .toolName {
    font-size: 1.2rem;
    line-height: 1.5;
    color: #4f4f4f;
}

.about .iconBox {
    display: flex;
    gap: 3rem;
    margin: 0 auto;
    margin-top: 2rem;
    grid-area: icon;
}

.about .iconBox .icon img {
    width: 48px;
    height: 48px;
}

.bg {
    height: 600px;
    background: url(../images/star.jpg) no-repeat center/cover fixed;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bg span {
    font-family: 'SUIT', sans-serif;
    font-size: 5rem;
    font-weight: 700;
    color: #fff;
}

.portfolio1, .portfolio3 {
    background-color: #f8f8f8;
}

.portfolio1 .portfolio-me {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 4% 2%;
}

.portfolio1 .portfolio-inner {
    padding: 1.5rem;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.08);
    position: relative;
}

.portfolio1 .portfolio-inner img {
    width: 100%;
    border-radius: 20px;
}

.portfolio1 .portfolio-inner strong {
    color: skyblue;
    margin: 0.5rem 0;
    display: block;
    font-size: 1.1rem;
}

.portfolio1 .portfolio-inner h3 {
    font-size: 1.7rem;
}

.portfolio1 .portfolio-inner h3 .none {
    display: none;
}

.portfolio1 .portfolio-inner:nth-child(1) {
    grid-column: 1/2;
    grid-row: 1/2;
}
.portfolio1 .portfolio-inner:nth-child(2) {
    grid-column: 2/3;
    grid-row: 1/2;
}
.portfolio1 .portfolio-inner:nth-child(3) {
    grid-column: 3/4;
    grid-row: 1/2;
}
.portfolio1 .portfolio-inner:nth-child(4) {
    grid-column: 1/2;
    grid-row: 2/3;
}
.portfolio1 .portfolio-inner:nth-child(5) {
    grid-column: 2/3;
    grid-row: 2/3;
}

.portfolio1 .portfolio-inner .original {
    position: absolute;
    bottom: 5%;
    right: 5%;
    background-color: transparent;
    border: 2px solid skyblue;
    color: skyblue;
    border-radius: 20px;
    padding: 6px 15px;
    transition: all 0.3s;
    font-weight: 600;
    font-family: 'Paperlogy';
}

.portfolio1 .portfolio-inner .original:hover {
    background-color: skyblue;
    color: #fff;
}

.portfolio2 {
    margin: 0 auto;
}

.portfolio2 .portfolio-inner {
    padding: 1rem;
    display: flex;
    justify-content: center;
    gap: 10%;
}

.portfolio2 .portfolio-inner .imgBox {
        width: 20%;
    }

.portfolio2 .portfolio-inner img {
    width: 100%;
    height: auto;
}

.portfolio2 .portfolio-inner .txtBox {
    width: 40%;
    padding-top: 2rem;
}

.portfolio2 .portfolio-inner .txtBox strong {
    color: skyblue;
    margin: 0.5rem 0;
    display: block;
    font-size: 1.3rem;
}

.portfolio2 .portfolio-inner .txtBox h3 {
    font-size: 4rem;
}

.portfolio2 .portfolio-inner .txtBox p {
    margin-top: 5rem;
    margin-bottom: 10rem;
    font-size: 1.3rem;
    line-height: 1.5;
}

.portfolio2 .portfolio-inner .txtBox h4 {
    margin-top: 1rem;
    color: #999;
    font-size: 1.2rem;
}

.portfolio2 .portfolio-inner .txtBox h4 span {
    display: inline-block;
    width: 100px;
    height: 10px;
    margin: 0 8px;
    background-color: #595959;
}

.portfolio2 .portfolio-inner .txtBox h4 span::after {
    content: '';
    display: block;
    width: 40%;
    height: 100%;
    background-color: #999;
}

.portfolio2 .portfolio-inner a {
    font-weight: 600;
    font-family: 'paperlogy';
    padding: 8px 20px;
    background-color: transparent;
    color: skyblue;
    border: 2px solid skyblue;
    border-radius: 50px;
    transition: all 0.3s;
    cursor: pointer;
}

.portfolio2 .portfolio-inner a:hover {
    background-color: skyblue;
    color: #fff;
}

.portfolio3 .portfolio-inner {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    gap: 8rem;
}

.portfolio3 .portfolio-inner .detail {
    background-color: #fff;
    margin-bottom: 3%;
    padding: 1.5rem;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.08);
}

.portfolio3 .portfolio-inner .detail .imgBox {
    width: 100%;
    height: 30rem;
    overflow-y: scroll;
    scrollbar-width: none;
    border-radius: 20px;
}

.portfolio3 .portfolio-inner .detail .imgBox img {
    width: 100%;
}

.portfolio3 .portfolio-inner .detail .txtBox strong {
    color: skyblue;
    margin: 0.5rem 0;
    display: block;
    font-size: 1.1rem;
}

.portfolio3 .portfolio-inner .detail .txtBox h3 {
    font-size: 1.7rem;
}

.contact {
    padding-top: 8rem;
    padding-bottom: 5rem;
}

.contact .contact-me {
    width: 68%;
    margin: 0 auto;
    margin-top: 6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.contact .contact-me .tit {
    margin-bottom: 3rem;
    font-size: 1.2rem;
    font-weight: 700;
    color: skyblue;
}

.contact .contact-me .cont a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0;
    background-color: #fff;
    color: #000;
}

.contact .btm {
    text-align: center;
    margin-top: 5rem;
    color: #595959;
}